<!-- To the right -->
<div class="pull-right hidden-xs">
  そして 1,000 問！
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 2018-2020 <%= link_to t(:app_name), root_path %>.</strong> All rights reserved.
