<%= link_to root_path, { class: "logo" } do %>
  <span class="logo-mini"></span>
  <span class="logo-lg">漢検 準1級 読み</span>
<% end %>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">
  </div>
</nav>
