<div class="kattene">
    <div class="kattene__imgpart"><a target="_blank" rel="noopener" href=""><img src="https://images-fe.ssl-images-amazon.com/images/I/51CWsivwMgL._SL160_.jpg"></a></div>
    <div class="kattene__infopart">
      <div class="kattene__title"><a target="_blank" rel="noopener" href="【メインのURL】">史上最強の漢検マスター準1級問題集</a></div>
      <div class="kattene__description">あのナツメ社のカバー率の最新版が 2021 年に登場！</div>
      <div class="kattene__btns __five">
        <div><a class="kattene__btn __orange" target="_blank" rel="noopener" href="https://af.moshimo.com/af/c/click?a_id=2112602&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2Fdp%2F4816369783">Amazon</a></div>
        <div><a class="kattene__btn __blue" target="_blank" rel="noopener" href="https://af.moshimo.com/af/c/click?a_id=2112592&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fitem.rakuten.co.jp%2Fbook%2F16555256%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fbook%2Fi%2F20210026%2F">楽天</a></div>
        <div><a class="kattene__btn __red" target="_blank" rel="noopener" href="https://af.moshimo.com/af/c/click?a_id=2112608&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fstore.shopping.yahoo.co.jp%2Fhmv%2F11450997.html%3Fsc_i%3Dshp_pc_search_itemlist_shsrg_title">Yahoo!</a></div>
      </div>
    </div>
</div>

<!--
<script type="text/javascript">
var nend_params = {"media":11313,"site":323818,"spot":959579,"type":1,"oriented":1};
</script>
<script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
-->

<!--
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
-->
<!-- 漢検準1級読み (レクタングル (大)) -->
<!--
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-5396037533357593"
     data-ad-slot="9729044424"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
